@media screen and (max-width: 1024px) {
  .Home .genre {
    width: 60% !important;
  }
  .Home .recents {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .Home {
    flex-direction: column;
  }
  .Home .genre {
    width: unset !important;
  }
}
