.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}
.side {
  width: 40%;
  height: 40%;
}
.backgrad {
  background: rgb(165, 50, 203);
  background: linear-gradient(
    145deg,
    rgba(165, 50, 203, 1) 0%,
    rgba(203, 50, 200, 1) 20%,
    rgba(203, 50, 174, 1) 40%,
    rgba(203, 50, 148, 1) 60%,
    rgba(223, 38, 110, 1) 80%,
    rgba(241, 37, 110, 1) 100%
  );
}
.tempside {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(203, 50, 114);
}
