.Profilepen {
  border: 3px solid white;
  border-radius: 26px;
  background-color: #eeeeee;
}
.profilem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
