.backimg {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/baka-animiza.appspot.com/o/Anime%2F5f2a60500c57143ef4431d45%2Fimages%2FGOH.jpg?alt=media&token=ac7f4cae-ee99-49ab-a5a3-a11eb3e7bfcf");
  height: auto;
  background-repeat: no-repeat;
}
.slick-slide {
  height: 350px;
  overflow: visible;
}
